<h4>Bienvenido nuevamente <?= $current_user['name']?></h4>
<p>Gestiona los usuarios y datos del sistema de control de electivas</p>
<img src="https://www.unicauca.edu.co/versionP/sites/default/files/images/Posdoctorado-FIET.JPG" alt="unicauca" width=700>